<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.killi8n.board.mappers.LastTermBoardMapper">
	<insert id="Register">
		INSERT INTO ACCOUNT (username, password, email) VALUES(#{username}, #{password}, #{email});
	</insert>
	
	<select id="CheckExisting" resultType="java.lang.Integer">
		SELECT COUNT(*) as cnt FROM ACCOUNT WHERE username = #{username};
	</select>
	
	<select id="GetUserDetail" resultType="com.killi8n.board.domain.Account">
		SELECT * FROM ACCOUNT WHERE username = #{username};
	</select>
	
	<insert id="WriteBoard">
		INSERT INTO BOARD (username, title, content, filename, savename, filesize) 
		VALUES (#{username}, #{title}, #{content}, #{filename}, #{savename}, #{filesize});
	</insert>
	
	<select id="GetAllBoards" parameterType="map" resultType="com.killi8n.board.domain.Board">
		<![CDATA[
			SELECT * FROM BOARD ORDER BY id DESC LIMIT ${pagingValue}, 10;
		]]>
	</select>
	
	<select id="GetCount" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM BOARD;
	</select>
	
	<select id="GetBoardDetail" resultType="com.killi8n.board.domain.Board">
		SELECT * FROM BOARD WHERE id = #{id};
	</select>
	
	<update id="UpdateBoard">
		UPDATE BOARD SET title = #{title}, content = #{content}, savename = #{savename}, 
		filename = #{filename}, filesize = #{filesize} WHERE id = #{id};
	</update>
	
	<delete id="RemoveBoard">
		DELETE FROM BOARD WHERE id = #{id};
	</delete>
	
	<select id="GetBoardByTitle" resultType="com.killi8n.board.domain.Board">
		SELECT * FROM BOARD WHERE title LIKE CONCAT('%',#{word},'%') ORDER BY id DESC;
	</select>
	
	<select id="GetBoardByUsername" resultType="com.killi8n.board.domain.Board">
		SELECT * FROM BOARD WHERE username LIKE CONCAT('%',#{word},'%') ORDER BY id DESC;
	</select>
	
	<select id="GetBoardByContent" resultType="com.killi8n.board.domain.Board">
		SELECT * FROM BOARD WHERE content LIKE CONCAT('%',#{word},'%') ORDER BY id DESC;
	</select>
	
	<select id="GetNextBoardItem" resultType="com.killi8n.board.domain.Board">
		SELECT * FROM BOARD WHERE id = (SELECT MIN(id) FROM BOARD WHERE id > #{id});
	</select>
	
	<select id="GetPrevBoardItem" resultType="com.killi8n.board.domain.Board">
		<![CDATA[
			SELECT * FROM BOARD WHERE id = (SELECT MAX(id) FROM BOARD WHERE id < #{id});
		]]>
	</select>
	
	<select id="GetFirst" resultType="java.lang.Integer">
		SELECT MIN(id) FROM BOARD;
	</select>
	
	<select id="GetLast" resultType="java.lang.Integer">
		SELECT MAX(id) FROM BOARD;
	</select>
	
	<update id="UpdateCount">
		UPDATE BOARD SET count = count + 1 WHERE id = #{id};
	</update>
	
	<insert id="ViewThisItem">
		INSERT INTO VIEW (username, boardId) VALUES (#{username}, #{boardId});
	</insert>
	
	<select id="CheckViewed" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM VIEW WHERE username = #{username} and boardId = #{boardId};
	</select>
	
	<insert id="CheckGood">
		INSERT INTO GOOD (username, boardId) VALUES (#{username}, #{boardId});
	</insert>
	
	<delete id="DeleteGood">
		DELETE FROM GOOD WHERE username = #{username} and boardId = #{boardId};
	</delete>
	
	<update id="PlusGood">
		UPDATE BOARD SET good = good + 1 WHERE id = #{boardId};
	</update>
	
	<update id="MinusGood">
		UPDATE BOARD SET good = good - 1 WHERE id = #{boardId};
	</update>
	
	<select id="CheckGoodExist" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM GOOD WHERE username = #{username} and boardId = #{boardId};
	</select>
	
	<insert id="CreateReplyByBoardId">
		INSERT INTO REPLY (boardId, replytext, username) VALUES (#{boardId}, #{replytext}, #{username});
		<selectKey resultType="int" keyProperty="id" order="AFTER">
        	SELECT LAST_INSERT_ID()
    	</selectKey>
	</insert>
	
	<select id="GetReplyListByBoardId" resultType="com.killi8n.board.domain.Reply">
		SELECT * FROM REPLY WHERE boardId = #{boardId};
	</select>
	
	<select id="GetLastReply" resultType="java.lang.Integer">
		SELECT MAX(id) FROM REPLY;
	</select>
	
	<select id="GetReplyById" resultType="com.killi8n.board.domain.Reply">
		SELECT * FROM REPLY WHERE id = #{id};
	</select>
	
	<update id="UpdateReplyById">
		UPDATE REPLY SET replytext = #{replytext} WHERE id = #{id};
	</update>
	
	<delete id="DeleteReplyById">
		DELETE FROM REPLY WHERE id = #{id};
	</delete>
	
</mapper>