.PageHeader{
	background: #339af0;
	.Contents {
		display: flex;
		align-items: center;
		height: 5rem;
		.Logo {
			font-size: 2rem;
			padding: 1rem;
			color: white;
			font-weight: 700;
			cursor: pointer;
			user-select: none;
		}
		
		.RightMenu {
			margin-left: auto;
			padding: 1rem;
			display: flex;
			.Button {
				font-size: 1.25rem;
				color: white;
				user-select: none;
				cursor: pointer;
			}
			
			.Button + .Button {
				margin-left: 1rem;
			}
			
		}
	}
}