.Pagination {
	width: 1024px;
	margin: 0 auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	@media (max-width: 1024px) {
		width: 90%;
	}
	
	display: flex;
	align-items: center;
	
	.Button {
		background: #228be6;
		font-size: 1.3rem;
		font-weight: 700;
		color: white;
		padding-top: 0.35rem;
		padding-right: 0.5rem;
		padding-bottom: 0.35rem;
		padding-left: 0.5rem;
		user-select: none;
		cursor: pointer;
		
		&:hover {
			background: #339af0;
		}
		
		&:active {
			background: #228be6;
		}
	}
	
	.Page {
		text-align: center;
		flex: 1;
	}
}